/* For information on how to create your own theme, please refer to:
http://ionicframework.com/docs/theming/ */



html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

ion-app {
  height: 100%;
}
